<template>
  <div>
    <h1>Countries</h1>

    <!-- Create or Post  -->
    <input type="text" v-model="name" placeholder="Name" class="title-input" />
    <input
      type="text"
      v-model="capital"
      placeholder="Capital"
      class="body-input"
    />
    <input
      type="text"
      v-model="region"
      placeholder="Region"
      class="body-input"
    />
    <input
      type="text"
      v-model="population"
      placeholder="Population"
      class="body-input"
    />
    <input
      type="text"
      v-model="demonym"
      placeholder="Demonym"
      class="body-input"
    />
    <input
      type="text"
      v-model="borders"
      placeholder="Borders"
      class="body-input"
    />
    <input
      type="text"
      v-model="nativeName"
      placeholder="Native Name"
      class="body-input"
    />
    <input
      type="text"
      v-model="alpha3Code"
      placeholder="Alpha3 Code"
      class="body-input"
    />
    <input
      type="text"
      v-model="languages"
      placeholder="Languages"
      class="body-input"
    />
    <input type="text" v-model="flag" placeholder="Flag" class="body-input" />

    <!-- Only show when editing a Country -->
    <button v-if="isEditing" @click="updateCountry">Update</button>
    <button v-if="isEditing" @click="cancelEdit">Cancel</button>

    <!-- Only show when not editing a Country -->
    <button v-else @click="createCountry">Create</button>

    <!-- List all Countries -->
    <div v-for="country in countries" :key="country.id" class="card">
      <h2>{{ country.name }}</h2>
      <p>Capital: {{ country.capital }}</p>
      <p>Region: {{ country.region }}</p>
      <p>Population: {{ country.population }}</p>
      <p>Demonym: {{ country.demonym }}</p>
      <p>Borders: {{ country.borders }}</p>
      <p>Native Name: {{ country.native_name }}</p>
      <p>Alpha3 Code: {{ country.alpha3_code }}</p>
      <p>Languages: {{ country.languages }}</p>
      <p>Flag: {{ country.flag }}</p>
      <button @click="editCountry(country.id)">Edit</button>
      <button @click="deleteCountry(country.id)">Delete</button>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";

const countries = ref([]);
const name = ref("");
const capital = ref("");
const region = ref("");
const population = ref("");
const demonym = ref("");
const borders = ref("");
const nativeName = ref("");
const alpha3Code = ref("");
const languages = ref("");
const flag = ref("");
const country_id = ref(0);
const isEditing = ref(false);
const API_URL = "http://localhost:3000/countries";

onMounted(async () => {
  const response = await fetch(API_URL);
  countries.value = await response.json();
});

const createCountry = async () => {
  const response = await fetch(API_URL, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      country: {
        name: name.value,
        capital: capital.value,
        region: region.value,
        population: population.value,
        demonym: demonym.value,
        borders: borders.value,
        native_name: nativeName.value,
        alpha3_code: alpha3Code.value,
        languages: languages.value,
        flag: flag.value,
      },
    }),
  });
  const data = await response.json();
  countries.value.push(data);
  name.value = "";
  capital.value = "";
  region.value = "";
  population.value = "";
  demonym.value = "";
  borders.value = "";
  nativeName.value = "";
  alpha3Code.value = "";
  languages.value = "";
  flag.value = "";
  country_id.value = 0;
};

const deleteCountry = async (id) => {
  await fetch(`${API_URL}/${id}`, {
    method: "DELETE",
  });
  countries.value = countries.value.filter((country) => country.id !== id);
};

const updateCountry = async () => {
  const response = await fetch(`${API_URL}/${country_id.value}`, {
    method: "PUT",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      country: {
        name: name.value,
        capital: capital.value,
        region: region.value,
        population: population.value,
        demonym: demonym.value,
        borders: borders.value,
        native_name: nativeName.value,
        alpha3_code: alpha3Code.value,
        languages: languages.value,
        flag: flag.value,
      },
    }),
  });
  const data = await response.json();

  const index = countries.value.findIndex(
    (country) => country.id === data.value
  );
  countries.value[index] = data;
  location.reload(); // TODO: Figure out way to hot reload instead of forcing this

  name.value = "";
  capital.value = "";
  region.value = "";
  population.value = "";
  demonym.value = "";
  borders.value = "";
  nativeName.value = "";
  alpha3Code.value = "";
  languages.value = "";
  flag.value = "";
  country_id.value = 0;
  isEditing.value = false;
};

const editCountry = async (id) => {
  const country = countries.value.find((country) => country.id === id);

  name.value = country.name;
  capital.value = country.capital;
  region.value = country.region;
  population.value = country.population;
  demonym.value = country.demonym;
  borders.value = country.borders;
  nativeName.value = country.native_name;
  alpha3Code.value = country.alpha3_code;
  languages.value = country.languages;
  flag.value = country.flag;
  country_id.value = country.id;
  isEditing.value = true;

  window.scrollTo({
    top: 0,
    behavior: "smooth",
  });
};

const cancelEdit = async () => {
  name.value = "";
  capital.value = "";
  region.value = "";
  population.value = "";
  demonym.value = "";
  borders.value = "";
  nativeName.value = "";
  alpha3Code.value = "";
  languages.value = "";
  flag.value = "";
  country_id.value = 0;
  isEditing.value = false;
};
</script>

<style scoped>
.title-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  color: #111;
  border-radius: 4px;
  resize: vertical;
}

.body-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  color: #111;
  border-radius: 4px;
  resize: vertical;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
</style>
